NM=syslog-test
NM2=syslog-test2
LOG=/tmp/${NM}.log
LOG2=/tmp/${NM2}.log
LOGV1=/tmp/${NM}-v1.log
LOGCONS=/tmp/${NM}-cons.log
PID=/tmp/${NM}.pid
PID2=/tmp/${NM2}.pid
CAP=/tmp/${NM}.pcapng
CONF=/tmp/${NM}.conf
CONF2=/tmp/${NM2}.conf
CONFD=/tmp/${NM}.d
CONFD2=/tmp/${NM2}.d
SOCK=/tmp/${NM}.sock
SOCK2=/tmp/${NM2}.sock
ALTSOCK=/tmp/${NM}-alt.sock
PORT=5514
PORT2=5555

export SYSLOG_UNIX_PATH=${SOCK}
