NM=syslog-test
LOG=/tmp/${NM}.log
LOGV1=/tmp/${NM}-v1.log
LOGCONS=/tmp/${NM}-cons.log
PID=/tmp/${NM}.pid
CAP=/tmp/${NM}.pcapng
CONF=/tmp/${NM}.conf
CONFD=/tmp/${NM}.d
SOCK=/tmp/${NM}.sock
PORT=5514

export SYSLOG_UNIX_PATH=${SOCK}
