*~
m4
.deps
GTAGS
GPATH
GRTAGS
TAGS
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.h*
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
klogd.service
libtool
ltmain.sh
missing
stamp-h1
syslogd.service
test-driver
