Source: sysklogd
Priority: important
Section: admin
Maintainer: Joachim Wiberg <troglobit@gmail.com>
Build-Depends: debhelper (>= 10), pkg-config
Standards-Version: 4.3.0
Homepage: https://troglobit.com/sysklogd.html
Vcs-Browser: https://github.com/troglobit/sysklogd
Vcs-Git: https://github.com/troglobit/sysklogd.git

Package: syslogd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lsb-base (>= 3.0-6)
Provides: syslogd, linux-kernel-log-daemon, system-log-daemon
Conflicts: syslogd, linux-kernel-log-daemon, system-log-daemon
Recommends: logrotate
Description: system logging daemon
 Continuation of the original syslog daemon for Linux, based on the *BSD
 syslog daemon.  Now with kernel logging and log rotation built-in.  It
 can both receive from and send to remote syslog servers.  Since v2.0 it
 also includes support for RFC5424 with the new syslogp() API extension
 from NetBSD for clients.

Package: libsyslog-dev
Priority: optional
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libsyslog0 (= ${binary:Version})
Description: new syslogp() API from NetBSD, development files
 Development files for building applications that use the syslogp()
 API from NetBSD.
 .
 This package includes the static library, header files, and docs.

Package: libsyslog0
Priority: optional
Section: libs
Provides: libsyslog
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: new syslogp() API from NetBSD for use with sysklogd
 This library provides the new syslogp() API from NetBSD.  It provides
 applications with the full RFC5424 logging API.  The intended use is
 with the sysklogd package.

Package: logger
Priority: optional
Section: admin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsyslog0 (= ${binary:Version})
Conflicts: bsdutils
Description: enter messages into the system log
 This version of logger is receommended for use with sysklogd.
 It makes use of the new syslogp() API for RFC5424 style logs,
 e.g. MSGID, strucutred data (SD), etc.
 .
 The BusyBox, or util-linux, logger tools can also be used, but
 are limited to RFC3164 style messages.
 .
 Note: on Debian this conflicts with bsdutils, which is the
 main package for providing logger.  Use that.
