#!/usr/bin/make -f
# export DH_VERBOSE=1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND = -g -Og -rdynamic

%:
	dh $@ --with autoreconf,systemd

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog.md

# Remove LICENSE and ChangeLog.md per Debian Policy
override_dh_auto_install:
	dh_auto_install
	rm -v debian/tmp/usr/share/doc/sysklogd/LICENSE
	rm -v debian/tmp/usr/share/doc/sysklogd/ChangeLog.md

override_dh_auto_test:
	$(MAKE) check
